body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
}

.navbar {
    display: flex;
    background-color: #2196F3;
    border-color: white;
}

.navbar a {
    color: white;
    padding: 14px 10px; 
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    flex: 25%;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
}
.navbar a:hover {
    background-color: white;
    color: #2196F3;
}

.container {
    display: flex;
    text-align: center;
    flex-wrap: wrap; 
}

.column {
    background-color: white;
    flex: 1;
    padding: 15px;
    color: black;
    color: #2196F3;
    border: 5px solid white;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
}

.banner {
    background-image: url('../imgs/background.jpg');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    padding: 200px 20px; 
    text-align: center;
    color: white;
}

.secondbanner {
    background-color: #2196F3;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    color: white;
}
.footer {
    background-color: #2196F3;
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: auto;
    
    
}

.subscribe-form {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.subscribe-input {
    padding: 10px;
    width: 60%;
    border: none;
    border-radius: 5px;
}

.subscribe-button {
    padding: 10px 20px;
    background-color: white;
    color: #2196F3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: filter 0.3s, color 0.3s;
    margin-left:5px;
    
    

}

.subscribe-button:hover {
    
    filter:brightness(50%)
}

.prescribe-button {
    padding: 10px 20px;
    background-color: white;
    color: #2196F3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: filter 0.3s, color 0.3s;
    margin-left:5px;
    font-weight: bold;
    font-size: 1rem;
    
}

.prescribe-button:hover {
    filter: brightness(50%); 
}




.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons a {
    color: white;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
}

.social-icons a:hover {
    color: darkgray; 
}

@media (max-width: 600px) {
    .container,
    .navbar,
    .banner,
    .column {
        flex-direction: column;
    }

    .navbar a {
        flex: 100%;
        padding: 14px 0; 
    }

    .banner {
        padding: 50px 20px; 
    }
}